<div class="text-center mt-5 pt-5">
    <h1 class="mb-2 fw-bold d-flex align-items-center gap-4 text-primary justify-content-center"
        style="font-size: 60px;">
        <span style="  color: red">
            Angular Unit Test <br />
        </span>
    </h1>
    <h2 class="mb-2 mt-5 fw-bold d-flex align-items-center gap-4 text-primary justify-content-center"
        style="font-size: 45px;">
        <span style="  color: #be3fe6;">
            Jasmine & Karma & TestBed
        </span>
    </h2>
    <div class="d-flex align-items-center gap-2 justify-content-center mb-3">
        <img src="/assets/images/firebase.png" width="300" class="mb-3" />
        <span style="font-size: 50px; ">
            &
        </span>
        <img src="/assets/images/angular official.png" width="300" />
    </div>
    <h4 style="font-size: 40px;" class="mb-3">
        Step-by-step Guide
    </h4>
    <p>
        {{"@TechDesignPilot"}}
    </p>
</div>